@tailwind base;
@tailwind components;
@tailwind utilities;

*
{
  box-sizing: border-box;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --code-area: #171717;
  --darker-shade: #1e2027;
  --shade: #2F323D;
  --midtone: #676F8B;
  --highlight: #B0B9D5;
  --accent: #B4E274;
}

::-webkit-scrollbar
{
  background-color: transparent;
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb
{
  background-color: var(--highlight);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --padding: 5px;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden;
  overflow-y: hidden;
}

#mainArea
{
  display: grid;
  height: 90vh;
  width: 100vw;
  grid-template-areas: 
  "code output"
  "code output"
  "code console";
}