.area
{
    grid-area: code;
    color: white;
    height: 90vh;
    width: 50vw;
    position: relative;
    display: flex;
    flex-direction: column;
}

.textarea
{
    background-color: var(--code-area);
    width: 100%;
    height: 45vh;
    padding: 1rem;
    border-bottom: groove rgb(0, 0, 0) thick;
    resize: none;
}