#output
{
    overflow-y: auto;
    padding: 1rem;
}

#outputArea
{
    background-color: var(--shade);
    width: 50vw;
    height: 70vh;
    grid-area: output;
    padding: var(--padding);
    text-wrap: auto;
    display: flex;
    flex-direction: column;
}

#buttons
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    background-color: var(--code-area);
}

.code
{
    display: flex;
    flex-direction: row;
}

.propertyHighlight
{
    color: var(--property-highlight);
}